*{
	-moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
body{
	background-color: #030;
	color: #8ba68d;
	font-family: Arial, sans-serif, Helvetica;
	margin: 0 auto;
	padding: 0 0 50px 0;
	width: 960px;
}
.stats{
	border: 1px solid #000;
	border-collapse: collapse;
	border-spacing: 10px;
	display: table;
	font-size: 12px;
	margin: 15px 0 0 0;
	width: 100%;
}
.stats-row, .stats-row-head{
	display: table-row;
}
.stats-row div, .stats-row-head div{
	display: table-cell;
}
.stats-row-head div{
	background-color: #041304;
	border: 1px solid #000;
	font-size: 14px;
	font-weight: bold;
	padding: 7px 20px;
	text-align: center;
}
.stats-row div{
	background-color: #045a04;
	border: 1px solid #000;
	padding: 7px 20px;
	text-align: center;
}
.stats-row:nth-child(even) div{
	background-color: #023502;
}
.stats-row.left div{
	text-align: left;
}
.stats div a{
	color: #FF0;
	font-weight: bold;
	text-decoration: none;
}
.stats div a:hover{
	text-decoration: underline;
}
.stats div input{
	background-color: #DDD;
	border: 1px solid #FFF;
	height: 23px;
	line-height: 17px;
	margin: 0;
	padding: 3px;
	width: 100%;
}
.results{
	background-color: #041304;
	font-size: 12px;
	padding: 5px 20px;
}
.results p{
	margin: 0;
	padding: 2px 0;
}
.results .title{
	color: #b7c52f;
	font-weight: bold;
	padding: 2px 0 4px 0;
}
.weekly{
	display: table;
	margin: 15px 0 0 0;
	width: 100%;
}
.week{
	background-color: #041304;
	border: 1px solid #000;
	float: left;
	font-size: 12px;
	margin: 5px 0.5%;
	padding: 0 0 30px 0;
	position: relative;
	width: 49%;
	vertical-align: top;
}
.week h3{
	background-color: #030;
	line-height: 35px;
	margin: 0 0 10px 0;
	padding: 0 10px;
	text-align: center;
	width: 100%;
}
.week h3 input{
	background-color: #DDD;
	border: 1px solid #FFF;
	height: 23px;
	line-height: 17px;
	margin: 0;
	padding: 3px;
	width: 50%;
}
.week p{
	margin: 0;
	padding: 5px 10px;
}
h2{
	color: #b7c52f;
	font-size: 16px;
	margin: 15px 0 0 0;
}
h3{
	font-style: italic;
}
.no-results{
	background-color: #041304;
	border: 1px solid #000;
	border-collapse: collapse;
	border-spacing: 10px;
	font-size: 14px;
	font-weight: bold;
	margin: 50px 0 0 0;
	padding: 7px 20px;
	width: 100%;
}
p.event .group-id{
	display: none;
}
p.event .event-id{
	display: none;
}
p.event .date{
	display: none;
}
p.event .loc{
	display: none;
}
p.event .time{
	display: none;
}

/*** Login ***/
.login{
	float: right;
	font-size: 11px;
	text-align: right;
	vertical-align: top;
	width: 50%;
}
.login label{
	line-height: 20px;
	margin: 0 10px 0 15px;
	vertical-align: top;
}
.login input{
	background-color: #DDD;
	border: 1px solid #FFF;
	height: 20px;
	line-height: 17px;
	margin: 0;
	padding: 3px;
	vertical-align: top;
	width: 25%;
}
.login button{
	border: 1px solid #999;
	font-size: 11px;
	height: 20px;
	line-height: 18px;
	padding: 0 7px;
	margin: 0 0 0 10px;
	vertical-align: top;
}
.login a{
	color: #FF0;
	margin: 0 0 0 3px;
	text-decoration: underline;
}
.login a:hover{
	text-decoration: none;
}

@media all and (max-width: 780px) and (min-width: 651px){

	body{
		width: 90%;
	}
}

@media all and (max-width: 650px){

	body{
		width: 95%;
	}
	.stats .extra{
		display: none;
	}
	.week{
		display: block;
		margin: 5px 0;
		width: 100%;
	}
}